@model App.Web.ViewModels.User.UserAddOrEditVM

@{
	ViewData["Title"] = "Tạo tài khoản";
}
@section head{
	<link href="~/lib/bs4-autocomplete/css/bs4-autocomplete.css" rel="stylesheet" />
}
<div class="row">
	<div class="col-12">
		<form asp-action="Create" autocomplete="off">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<partial name="_AddOrEdit" />
			<div class="form-group">
				<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
				<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
			</div>
		</form>
	</div>
</div>
<partial name="_BackToList" />
@section scripts{
	<script src="~/lib/bs4-autocomplete/js/bs4-autocomplete.js"></script>
	<script src="~/js/user/create-edit-user.js" asp-append-version="true"></script>
}