@model App.Web.ViewModels.User.CreateUserVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateUserVM</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Username" class="control-label">Tên đăng nhập</label>
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label">Mật khẩu</label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPwd" class="control-label">Xác nhận mật khẩu</label>
				<input asp-for="ConfirmPwd" class="form-control" />
				<span asp-validation-for="ConfirmPwd" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FullName" class="control-label">Họ tên</label>
				<input asp-for="FullName" class="form-control" />
				<span asp-validation-for="FullName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label">Email</label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PhoneNumber1" class="control-label">Số điện thoại</label>
				<input asp-for="PhoneNumber1" class="form-control" />
				<span asp-validation-for="PhoneNumber1" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PhoneNumber2" class="control-label">SĐT dự phòng</label>
				<input asp-for="PhoneNumber2" class="form-control" />
				<span asp-validation-for="PhoneNumber2" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Address" class="control-label">Địa chỉ</label>
				<input asp-for="Address" class="form-control" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
