@model App.Web.ViewModels.User.UserAddOrEditVM

@{
	ViewData["Title"] = "Tạo tài khoản";
}

<div class="row">
	<div class="col-md-5">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Username" class="control-label">Tên đăng nhập</label>
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<partial name="_AddOrEdit" />
			<div class="form-group">
				<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
				<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Nhập lại</button>
			</div>
		</form>
	</div>
</div>
<partial name="_BackToList" />
@section scripts {
	
}
