.required:after {
  content: ' *';
  color: red; }

.fit {
  width: 1%;
  white-space: nowrap; }

.hover\:pointer:hover {
  cursor: pointer; }

.hover\:text-primary {
  transition: color 0.3s; }
  .hover\:text-primary:hover {
    color: var(--primary); }
