.required:after {
  content: ' *';
  color: red; }

.fit {
  width: 1%;
  white-space: nowrap; }

.fake-d-none {
  display: block !important;
  width: 0;
  height: 0;
  padding: 0 !important;
  border: 0 !important; }

.hover\:pointer:hover {
  cursor: pointer; }

.hover\:text-primary {
  transition: color 0.3s; }
  .hover\:text-primary:hover {
    color: var(--primary); }
