@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="title-page">
        <h1>Source demo</h1>
    </div>
    <section class="slider-home">
        <div class="slide-modify" data-time="5000">
            <div class="banner-home">
                <div class="bg-home">
                    <img src="~/clientLTE/dist/pictures/promotion/uu-dai-kep-x2-qua/home-Banner-uu-dai-kepjpg-2.jpg" alt="Source demo" />
                    sizes="100vw">
                </div>
                <div class="text-banner"><a class="go-page" href="./noi-that.html">Khám phá ngay</a></div>
            </div>
            <div class="banner-home">
                <div class="bg-home">
                    <img src="~/clientLTE/dist/pictures/banner-trang-chu/banner-phong-khach.jpg" alt="Source demo" srcset="../pictures/mobile/catalog/banner-trang-chu/banner-phong-khach.jpg 540w, ../pictures/catalog/banner-trang-chu/banner-phong-khach.jpg 2000w"
                         sizes="100vw">
                </div>
                <div class="text-banner">
                    <a class="go-page" href="./noi-that.html">
                        Khám
                        phá ngay
                    </a>
                </div>
            </div>
            <div class="banner-home">
                <div class="bg-home">
                    <img src="~/clientLTE/dist/pictures/banner-trang-chu/banner-phong-an.jpg" alt="Source demo" sizes="100vw" />
                </div>
                <div class="text-banner">
                    <a class="go-page" href="./noi-that.html">Khám phá ngay</a>
                </div>
            </div>
            <div class="banner-home">
                <div class="bg-home">
                    <img src="~/clientLTE/dist/pictures/banner-trang-chu/bannerphong-ngu-1.jpg" alt="Source demo" />
                    sizes="100vw">
                </div>
                <div class="text-banner">
                    <a class="go-page" href="./noi-that.html">
                        Khám phá
                        ngay
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome-content">
        <div class="title">
            <h2>welcome to <strong>Aconcept</strong></h2>
            <div class="title-logo">
                <img src="~/clientLTE/dist/images/small-logo.png" alt="Source demo" />
            </div>
        </div>
        <div class="welcome-box">
            <div class="welcome-item ani-item">
                <div class="welcom-go" aria-label="welcom">
                    <div class="welcome-pic">
                        <div class="cover-pic">
                            <img src="~/clientLTE/dist/pictures/banner/1-2-500x750-500x750-500x750-500x750-500x750-500x750-500x750-500x750.jpg" alt="Phòng khách" />
                        </div>
                    </div>
                    <div class="welcome-txt">
                        <h3>Phòng khách</h3>
                    </div>
                </div>
            </div>
            <div class="welcome-item ani-item">
                <div class="welcom-go" aria-label="welcom">
                    <div class="welcome-pic">
                        <div class="cover-pic">
                            <img src="~/clientLTE/dist/pictures/banner/4-3-500x750-500x750-500x750-500x750-500x750.jpg" alt="Phòng ăn" />
                        </div>
                    </div>
                    <div class="welcome-txt">
                        <h3>Phòng ăn</h3>
                    </div>
                </div>
            </div>
            <div class="welcome-item ani-item">
                <div class="welcom-go" aria-label="welcom">
                    <div class="welcome-pic">
                        <div class="cover-pic">
                            <img src="~/clientLTE/dist/pictures/banner/3-3-500x750-500x750-500x750-500x750.jpg" alt="Phòng ngủ" />
                        </div>
                    </div>
                    <div class="welcome-txt">
                        <h3>Phòng ngủ</h3>
                    </div>
                </div>
            </div>
            <div class="welcome-item ani-item">
                <div class="welcom-go" aria-label="welcom">
                    <div class="welcome-pic">
                        <div class="cover-pic">
                            <img src="~/clientLTE/dist/pictures/banner/banner-sp-trang-tri-1-500x750-500x750-500x750-500x750-500x750-500x750.jpg" alt="Đèn " />
                        </div>
                    </div>
                    <div class="welcome-txt">
                        <h3>Sản phẩm trang trí</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="flow-line ani-item"></div>
    </section>
    <section class="home-intro">
        <div class="title">
            <h2>Giới thiệu về <strong>Aconcept</strong> </h2>
            <div class="title-logo">
                <img src="~/clientLTE/dist/images/small-logo.png" alt="Source demo" />
            </div>
        </div>
        <div class="space-txt ani-item">
            <div class="wrap-text-more">
                <p>
                    Việc ra đời của AConcept là cả quá trình đúc kết, tìm hiểu về đặc thù của từng loại không gian và các xu hướng sở thích khác nhau từ người sử dụng. Những nghiên cứu kỹ lưỡng đó được kết hợp khéo léo cùng tài năng của các nhà thiết
                    kế nổi tiếng Châu Âu, tạo nên dòng sản phẩm trang trí, đồ nội thất đẹp có độ ứng dụng cao với nhiều loại hình không gian khác nhau. Gần gũi và ấm cúng cho nhà ở; cởi mở và thời trang cho khách sạn; chuyên nghiệp, năng động khi
                    sử dụng cho văn phòng... phong thái từ các thiết kế của AConcept luôn tạo được sức hút bởi tính đa chiều trong cảm xúc mà chúng mang lại cho không gian.
                </p>
            </div>
        </div>
        <div class="space-pic ani-item">
            <span></span>
            <div class="cover-pic" data-background="./clientLTE/dist/pictures/banner/banner-gioi-thieu.jpg">
            </div>
            <button data-href="../pages/gioi-thieu.html" class="designers-go" aria-label="go-detail">go</button>
        </div>
        <div class="flow-line ani-item"></div>
    </section>
    <section class="home-space">
        <div class="title">
            <h2>Không gian sống <strong>Bắc Âu</strong></h2>
        </div>
        <div class="space-txt ani-item">
            <div class="wrap-text-more">
                <p>
                    Đất nước Đan Mạch ghi dấu trong mọi lĩnh vực từ nghệ thuật, kiến trúc, khoa học công nghệ, bề dày lịch sử cho đến phúc lợi xã hội. Những thành tựu đó đã tạo nên nền tảng vững chắc để đảm bảo cho nhịp sống thanh bình, biết trân trọng
                    các giá trị chân thực và luôn sáng tạo để mang đến những điều tốt đẹp cho cuộc sống. Đặc biệt hơn nữa, yếu tố tinh thần này luôn thể hiện rõ nét trong từng góc sống, từng tổ ấm của người dân nơi đây. Đất nước Đan Mạch ghi dấu trong
                    mọi lĩnh vực từ nghệ thuật, kiến trúc, khoa học công nghệ, bề dày lịch sử cho đến phúc lợi xã hội. Những thành tựu đó đã tạo nên nền tảng vững chắc để đảm bảo cho nhịp sống thanh bình, biết trân trọng các giá trị chân thực và luôn
                    sáng tạo để mang đến những điều tốt đẹp cho cuộc sống. Đặc biệt hơn nữa, yếu tố tinh thần này luôn thể hiện rõ nét trong từng góc sống, từng tổ ấm của người dân nơi đây.
                </p>
            </div>
        </div>
        <div class="space-pic ani-item">
            <span></span>
            <div class="cover-pic" data-background="./clientLTE/dist/pictures/home/space.jpg"></div>
            <div class="pic-text">
                <h3></h3>
            </div>
            <button data-href="../pages/tin-tuc/khong-gian-song" class="designers-go" aria-label="go-detail">go</button>
        </div>
        <div class="flow-line ani-item"></div>
    </section>
    <section class="general-content">
        <div class="flow-line ani-item"></div>
        <div class="general-box">
            <div class="general-item ani-item">
                <a class="direct-link" href="../pages/phu-kien/lamps/den-ban/office.html">
                    <div class="general-pic">
                        <div class="cover-pic" data-background="./clientLTE/dist/images/bg_temp.jpg">
                        </div>
                    </div>
                    <div class="general-txt">
                        <div class="general-outer">
                            <div class="general-inr">
                                <h2>New Product</h2>
                                <p>Office<br></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="general-item ani-item">
                <a href="#" target="_blank" rel="noreferrer" aria-label="pdf">
                    <div class="general-pic brochure">
                        <div class="cover-pic" data-background="./clientLTE/dist/pictures/library-project/AConcept-Catalogue-S22-Single-View-1.jpg">
                        </div>
                    </div>
                    <div class="general-txt">
                        <div class="general-outer">
                            <div class="general-inr">
                                <h2>catalogue</h2>
                                <span class="cata-year">2022</span>
                                <span class="cata-cap">download here</span>
                            </div>
                        </div><span class="cata-mask"></span>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="home-news">
        <div class="flow-line ani-item"></div>
        <div class="title">
            <h2>Tin Mới</h2>
        </div>
        <div class="slider-news slider-news-home ani-item">
            <div class="item-news-home">
                <div class="box-news-home">
                    <div class="pic-news-home">
                        <div class="cover-pic" data-background="./clientLTE/dist/pictures/vy-file/z3609489691524d7013add0679123d375ab927b3b8f4eb-.jpg">
                        </div>
                    </div>
                    <div class="txt-news-home">
                        <div class="date-thumb">01<span>08 - 2022</span></div>
                        <h3>NÊN CHỌN SOFA DA/PU HAY SOFA VẢI LÀ TỐT NHẤT CHO TỔ ẤM?</h3>
                    </div>
                    <button class="view-more" data-href="../pages/tin-tuc/khong-gian-song/nen-chon-sofa-dapu-hay-sofa-vai-la-tot-nhat-cho-to-am.html" aria-label="news">
                        <span>đọc thêm</span>
                    </button>
                </div>
            </div>
            <div class="item-news-home">
                <div class="box-news-home">
                    <div class="pic-news-home">
                        <div class="cover-pic" data-background="./clientLTE/dist/pictures/vy-file/31d6ed52ec2c2e72773d.jpg">
                        </div>
                    </div>
                    <div class="txt-news-home">
                        <div class="date-thumb">22<span>07 - 2022</span></div>
                        <h3>DIAMOND ISLAND QUẬN 2 | CĂN HỘ 2 PHÒNG NGỦ ĐẢO KIM CƯƠNG </h3>
                    </div>
                    <button class="view-more" data-href="../pages/tin-tuc/khong-gian-song/diamond-island-quan-2--can-ho-2-phong-ngu-dao-kim-cuong-.html" aria-label="news">
                        <span>đọc thêm</span>
                    </button>
                </div>
            </div>
            <div class="item-news-home">
                <div class="box-news-home">
                    <div class="pic-news-home">
                        <div class="cover-pic" data-background="./clientLTE/dist/pictures/vy-file/31d6ed52ec2c2e72773d.jpg">
                        </div>
                    </div>
                    <div class="txt-news-home">
                        <div class="date-thumb">13<span>07 - 2022</span></div>
                        <h3>
                            ACONCEPT HÂN HẠNH ĐỒNG HÀNH CÙNG CUỘC THI &quot;AN CUONG INTERIOR DESIGN AWARD 2022&quot;
                        </h3>
                    </div><button class="view-more" data-href="../pages/tin-tuc/su-kien/aconcept-han-hanh-dong-hanh-cung-cuoc-thi-an-cuong-interior-design-award-2022.html" aria-label="news">
                        <span>đọc thêm</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="flow-line ani-item"></div>
    </section>
</div>