@model App.Web.ViewModels.Account.ChangePassword
<div class="modal fade" id="mChangePassword" tabindex="-1" role="dialog" aria-labelledby="mChangePassword-label" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h5 class="modal-title" id="mChangePasswordTitle">Đổi mật khẩu</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label asp-for="Pwd" class="control-label">Nhập lại mật khẩu</label>
						<input asp-for="Pwd" type="password" class="form-control" />
						<span asp-validation-for="Pwd" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="NewPwd" class="control-label">Mật khẩu mới</label>
						<input asp-for="NewPwd" type="password" class="form-control" />
						<span asp-validation-for="NewPwd" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ConfirmPassword" class="control-label">Xác nhận mật khẩu mới</label>
						<input asp-for="ConfirmPassword" type="password" class="form-control" />
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
					<div class="form-check">
						<input class="form-check-input" checked id="remember" asp-for="LogoutAfterChangePwd" >
						<label class="form-check-label user-select-none" for="remember">
							Đăng xuất sau khi đổi mật khẩu
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" asp-action="ChangePassword" asp-controller="Account"><i class="fas fa-key"></i> Đổi mật khẩu</button>
				</div>
			</form>
		</div>
	</div>
</div>