    <section class="bottom">
        <div class="bottom-box">
            <div class="support-box">
                <div class="subscrible"><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit</span>
                    <p>Vui lòng nhập email của bạn</p>
                    <div class="input-text">
                        <form id="register_id" onsubmit="return false;" name="register_id"><input id="emailregister" name="emailregister" value="Email (*)" type="text" data-holder="Email (*)" data-error="Email không hợp lệ!" data-default="Email (*)" aria-label="subscribe">
                            <div class="outer-but"><button type="button" id="btn-register-submit" aria-label="but">Nhận
                                    tin</button></div>
                        </form>
                    </div>
                </div>
                <div class="hotline"><a href="tel:19009022">XXXX XXXX</a></div>
            </div>
            <div class="wrap-store-box">
                <div class="store-box">
                    <div class="box-add"><span>ABC 1</span>
                        <ul>
                            <li><span class="location"></span>
                                <p>Địa chỉ 1</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box-add"><span>ABC 2</span>
                        <ul>
                            <li><span class="location"></span>
                                <p>Địa chỉ 2</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box-add box-add-list">
                        <div class="input-select custom-select custom-select-agency"><select name="custom-select-agency" id="custom-select-agency">
                                <option value="0" data-name="Danh sách đại lý">Danh sách đại lý</option>
                                <option value="33" data-name="AConcept Phú Nhuận">ABC</option>
                                
                            </select></div>
                        <ul class="custom-select-address">
                            <li><span class="location"></span>
                                <p>Địa chỉ</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>