    <footer class="footer">
        <section class="footer-content">
            <div class="social">
                <ul>
                    <li><a class="youtube" href="#" target="_blank" rel="noreferrer" aria-label="youtube">youtube</a></li>
                    <li><a class="facebook" href="#" target="_blank" rel="noreferrer" aria-label="facebook">facebook</a></li>
                    <li><a class="linkedin" href="#" target="_blank" rel="noreferrer" aria-label="instagram">instagram</a></li>
                </ul>
            </div>
            <div class="license ani-item">
                <div class="wrap-license">
                    <a href="http://online.gov.vn/Home/WebDetails/87263?AspxAutoDetectCookieSupport=1" rel="noopener" target="_blank"><img src="~/clientLTE/dist/images/license.png" alt="Bộ Công Thương"> </a>
                </div>
            </div>
            <div class="copyright">
                <p>2021 © <strong>Source demo</strong>. All rights reserved. <a href="https://www.btq.vn" target="_blank" rel="noreferrer">Developed by 3graphic</a></p>
            </div>
        </section>
    </footer>