<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">@DateTime.Now.Year</div>
			<div class="col-sm-6">
				<div class="text-sm-end d-none d-sm-block">
					Development by ... | Velzon admin template
				</div>
			</div>
		</div>
	</div>
</footer>