    <div class="header-widget">
        <a class="news-regis news-hotline" href="tel:19009022" aria-label="news-register">
            <span class="icon-news-regis">
				<img src="~/clientLTE/dist/images/phone.svg">
			</span>
            <span class="text-news-regis">1900 9022</span>
        </a>
    </div>