<!DOCTYPE HTML>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="language" content="vi_VN">
    <meta name="author" content="Source demo">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <title id="hdtitle">Source demo</title>
    <meta name="description" content="Source demo">
    <meta name="keywords" content="Source demo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/clientLTE/dist/css/custom.css">
    <link rel="stylesheet" type="text/css" href="~/clientLTE/dist/css/header.css?v=1.0.6">
    <link rel="stylesheet" href="~/clientLTE/dist/css/app.css?v=1.0.6">
    <link rel="stylesheet" type="text/css" href="~/clientLTE/dist/css/Montserrat.css">
    <link rel="stylesheet" type="text/css" href="~/clientLTE/dist/css/style.css">
    @RenderSection("Css", false)
</head>
<body id="home-page">
    <partial name="_HeaderWidget" />
    <partial name="_HeaderBar" />
    <div class="container">
        @RenderBody()
    </div>
    <partial name="_FooterSupport" />
    <partial name="_Footer" />
    <div class="login-overlay"></div>
    <partial name="_LoginBox" />
    @*Link js*@
    <div class="scroll-down"><span>scroll down</span></div>
    <div class="go-top"></div>
    <script type="text/javascript" src="~/clientLTE/dist/js/jquery.js"></script>
    <script type="text/javascript" src="~/clientLTE/dist/js/validate.js?v=1.0.6"></script>
    <script type="text/javascript" src="~/clientLTE/dist/js/app.js?v=1.0.6"></script>
    <script type="text/javascript" src="~/clientLTE/dist/js/cart.js?v=1.0.6"></script>
    @RenderSection("JavaScript", false)
</body>

</html>