    <div class="login-box">
        <div class="login-block">
            <form onsubmit="return validatelogin();" id="login_form" name="login_form" method="post">
                <div class="input-text">
                    <div class="col size_6"><span class="pass-mask">Tên đăng nhập (*)</span><input type="text" id="username" name="username" autocomplete="off" value="" data-holder="Tên đăng nhập (*)" data-error="Vui lòng nhập tên đăng nhập!" data-default="Tên đăng nhập (*)"
                            aria-label="user"></div>
                    <div class="col size_6"><span class="pass-mask">Password (*)</span><input type="password" id="password" name="password" autocomplete="off" data-holder="Password (*)" value="" data-error="Vui lòng nhập mật khẩu!" data-default="Password (*)" aria-label="password">
                    </div>
                </div>
                <div class="input-but">
                    <div class="btnLogin"><button type="submit" id="login_but" aria-label="button">Đăng nhập</button>
                    </div>
                    <div class="btnRegis"><a class="link-load" type="submit" href="../pages/dang-ky.html" aria-label="Đăng ký">Đăng ký</a></div>
                </div>
            </form>
        </div>
    </div>