@{
	var typeOfMesg = "";
	var mesg = "";
}
@if (TempData["Err"] != null)
{
	typeOfMesg = "danger";
	mesg = TempData["Err"].ToString();
}
else if (TempData["Success"] != null)
{
	typeOfMesg = "success";
	mesg = TempData["Success"].ToString();
}

@if (!typeOfMesg.IsNullOrEmpty())
{
	<div class="alert alert-@typeOfMesg alert-dismissible js-alert fade show" role="alert">
		@mesg
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}