@{
	var typeOfMesg = "";
	var mesg = "";
}
@if (TempData["Err"] != null)
{
	typeOfMesg = "danger";
	mesg = TempData["Err"].ToString();
}
else if (TempData["Success"] != null)
{
	typeOfMesg = "success";
	mesg = TempData["Success"].ToString();
}

@if (!typeOfMesg.IsNullOrEmpty())
{
	<div class="alert alert-@typeOfMesg alert-dismissible shadow js-alert fade show" role="alert">
		@mesg
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}