@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IEnumerable<object>

<div class="my-4">
@Html.PagedListPager((IPagedList)Model,
	page => Url.Action("Index", new { page = page }),
	new PagedListRenderOptions
	{
		LiElementClasses = new string[] { "page-item" },
		PageClasses = new string[] { "page-link" },
	})
</div>