@{
	ViewData["Title"] = "Quản lý file";
}

@section head{
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/theme.css" />
	<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="~/lib/elfinder/css/elfinder.full.css" />

	<!-- NOTE: This file is new and some of the themes may not look quite right if this is used.-->
	<!--<link rel="stylesheet" href="~/lib/elfinder/css/theme.css" />-->

	<link rel="stylesheet" href="~/css/elfinder/themes/material/css/theme-gray.min.css" id="elfinder-theme" />
}
@section scripts{
	<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/elfinder/js/elfinder.full.js"></script>
	<script src="~/js/file-manager/elfinder.js" asp-append-version="true"></script>
}

<div id="elfinder"></div>